# Data files

/data/raw/bdoss.parquet
/data/raw/crc.parquet
/data/raw/credscore.parquet
/data/raw/fama.parquet

/data/converted/bdoss.csv
/data/converted/crc.csv
/data/converted/credscore.csv
/data/converted/fama.csv


# Python
__pycache__/
data/prepared/abt_first_objective.parquet
data/prepared/abt.parquet
data/prepared/bdoss_aggregated.parquet
data/prepared/bdoss_clean.parquet
data/prepared/bdoss_customer.parquet
data/prepared/crc_clean.parquet
data/prepared/credscore_clean.parquet
data/prepared/fama_clean.parquet
/data/prepared/active_clients.parquet
/data/prepared/active_clients_scored.parquet
data/prepared/EDA_with_FE.parquet
/data/prepared/customer.parquet
