# Data files

/data/raw/bdoss.parquet
/data/raw/crc.parquet
/data/raw/credscore.parquet
/data/raw/fama.parquet

/data/converted/bdoss.csv
/data/converted/crc.csv
/data/converted/credscore.csv
/data/converted/fama.csv


# Python
__pycache__/
